.section-container {
  margin-top: 6rem;

  .section-title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .section-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }
}
